{% extends 'home/base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="my-4">
            <h2>{% blocktrans %}Edit Job{% endblocktrans %}</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}" class="form-label">{% blocktrans %}Title{% endblocktrans %}</label>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.description.id_for_label }}" class="form-label">{% blocktrans %}Description{% endblocktrans %}</label>
                    {{ form.description }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.location.id_for_label }}" class="form-label">{% blocktrans %}Location{% endblocktrans %}</label>
                    {{ form.location }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.salary.id_for_label }}" class="form-label">{% blocktrans %}Salary{% endblocktrans %}</label>
                    {{ form.salary }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.contact.id_for_label }}" class="form-label">{% blocktrans %}Contact{% endblocktrans %}</label>
                    {{ form.contact }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.category.id_for_label }}" class="form-label">{% blocktrans %}Category{% endblocktrans %}</label>
                    {{ form.category }}
                </div>
                <button class="btn btn-primary" type="submit">{% blocktrans %}Save Changes{% endblocktrans %}</button>
            </form>
        </div>
    </div>
{% endblock %}
